
@{
    ViewBag.Title = "Editor";
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
}

<div class="well">
    <h1>
        Accordion Menu With Icons
    </h1>
    Admin Dashboard Accordion Menu
</div>



